
#carouselExampleCaptions{
    border: solid black;
}

#facebook{

    padding: 0px;
    margin: 0px;
    color:cornflowerblue;

}

#google{

    padding: 0px;
    margin: 0px;
    color:gold;

}

#github{

    padding: 0px;
    margin: 0px;
    color:gray;

}
